/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM */
body {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size:14px;
    line-height: 2em;
}
h1,h2,h3,h4,h5,h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-size:14px;
    line-height: 2em;
}

h1 {
    font-size:1.5em;
}

h2 {
    font-size:1.5em;
}

#main-container {
    min-height: 900px;
}

#pk-container-nav {
    background:#eeeeee;
    color:#888888;
    width:25%;
    position: fixed;
    top:0;
    bottom:0;
    z-index: 999;
    overflow: scroll;
}

#menu-open,#menu-close {
    position: absolute;
    right:10px;
    top:20px;
    font-size:1.75em;
}

.hide-this {
    display: none;
}

#pk-container-nav a {
    color:#ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


#pk-nav {
    background:rgb(84, 157, 157);
    padding:20px 20px 5px 20px;
    color:#ffffff;
    position: fixed;
    width:25%;
    box-sizing:border-box;
    overflow: hidden;
    z-index: 1000;
}

.menu {
    max-height: 1px;
    transition: all .25s ease-out;
    min-height:1px;
}

.menu.open-menu {
    max-height: 9999px;
}

#pk-container-main {
    width:75%;
    margin-left:25%;
    box-sizing:border-box;
    position: relative;
}

#text-editor {
    padding:20px;
    margin-top:60px;
    position: absolute;
    box-sizing: border-box;
    width:100%;
}

#game-console {
    display: flex;
    justify-content: center;
    border:2px solid #aaaaaa;
    position: relative;
    min-height: 200px;
    max-height: 300px;
    flex-wrap: wrap;
    overflow: scroll;
}

.game-overflow {
    width:100%;
    padding:20px;
    background:#cccccc;
    height:100%;
}

#exercise-text {
    display: flex;
}

#exercise-lesson {
    width:50%;
    padding:20px;
}

#exercise-questions {
    width:50%;
    padding:20px;
}

#exercise-instructions {
    list-style:decimal;
}

#exercise-instructions li {
    margin-bottom:20px;
    line-height: 1.2em;
}

.code-text {
    width:100%;
}

.code-text textarea {
    width: 100%;
    resize: none;
}

#game-block-grey {
    width:80%;
    height:200px;
    background:#eeeeee;
    opacity:.9;
}

.game-block {
    display: inline-block;
    min-width:100px;
    min-height: 100px;
    transition: all .1s ease-out;
    opacity:.9;
}

#game-block-red {
    background:url('../img/owl-red.png'), red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#game-block-blue {
    background:url('../img/owl-blue.png'),blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#game-block-green {
    background:url('../img/owl-green.png'), green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/* FOOTER */
.footer-section {
    background:#000000;
    padding:20px;
    position: relative;
    z-index: 999;
}
